<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>나만의 단어</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script th:src="@{/js/main.js}" defer></script>
</head>
<body>
<div class="layout">

    <div th:if="${user == null}" class="login_bar">
        <ul>
            <li><a href="/login">로그인</a></li>
            <li><a href="/register">회원가입</a></li>
        </ul>
    </div>

    <div th:unless="${user == null}" class="user_info">
        <ul>
            <li th:text="|${user}님 반갑습니다|"></li>
            <li class="logout"><a href="#" onclick="logout()">로그아웃</a></li>
        </ul>
    </div>

    <div class="logo_menu_bar">
        <div class="logo">
            <img src="/images/bear.png" alt="logo">
        </div>

        <ul>
            <li><a href="#" onclick="showSection('addWord')">단어 추가</a></li>
            <li><a href="#" onclick="showSection('wordList'); loadWordList();">단어 리스트</a></li>
            <li><a href="#" onclick="showSection('wordQuiz'); loadQuizList()">단어 퀴즈</a></li>
        </ul>
    </div>

    <!-- 단어 추가 화면 -->
    <div id="addWord" class="content-section" style="display: none;">
        <h2>단어 추가</h2>
        <form id="addWordForm">
            <input type="text" id="newWord" class="insert-word" placeholder="단어 입력" required>
            <input type="text" id="newMean" class="insert-word" placeholder="뜻 입력" required>
            <button type="submit" class="insert-word">추가</button>
        </form>
    </div>

    <!-- 단어 리스트 화면 -->
    <div id="wordList" class="content-section" style="display: none;">
        <h2>단어 리스트</h2>
        <ul id="wordListContainer"></ul>
    </div>

    <!-- 단어 퀴즈 화면 -->
    <div id="wordQuiz" class="content-section" style="display: none;">
        <h2>단어 퀴즈</h2>
        <div id="quizContainer">
            <p id="quizWord"></p>
            <input type="text" id="userAnswer" placeholder="답변을 입력하세요" />
            <button id="submitAnswer">제출</button>
            <p id="resultMessage"></p>
        </div>
    </div>


</div>

<script>

</script>

</body>
</html>
